{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='core-style.css') }}">
<div class="type-1-body">
    <h1>{% block title %}Create New Ticket{% endblock %}</h1>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible alert-bar" role="alert">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>  {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <form method="post">
        <label for="title">Title</label> <br>
        <input name="title" size="50" id="title" value="{{ request.form['title'] }}" placeholder="A title is required" maxlength="256" required> <br><br>
        <label for="description">Description</label> <br>
        <textarea name="description" id="description" cols="53" rows="5" placeholder="A description is optional but advised" maxlength="512"></textarea> <br>
        <input type="submit" class="btn btn-primary" style="width:390px" value="create ticket">
    </form>
</div>
{% endblock %}
