<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='core-style.css') }}">
<div class="ticket-content-body">
    <h1>{% block title %}Ticket Index{% endblock %}</h1>
    {% if tickets  %}
        {% for ticket in tickets %}
            <div class="panel panel-default ticket-panel">
                <div class="panel-heading">
                    <h2><a href="{{ url_for('ticket_views.edit', ticket_id=ticket['id']) }}">#{{ ticket['id'] }} </a>{{ ticket['title']}}</h2>
                </div>

                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-sm-4">Status: <span class="label label-default ticket-status-{{ ticket['status'] | replace(' ','-') }}">{{ ticket['status'] }}</span></div>
                            <div class="col-6 col-sm-4">Priority: <span class="label label-default ticket-priority-{{ ticket['priority'] }}">{{ ticket['priority'] }}</span></div>
                        </div>

                        <div class="w-100 d-none d-md-block"></div>
                        <div class="row">
                            <div class="col-6 col-sm-4">Reporter: {{ ticket['user_reporter_name'] }} </div>
                            <div class="col-6 col-sm-4">Assignee: {{ ticket['user_assignee_name'] }} </div>
                        </div>

                        <div class="w-100 d-none d-md-block"></div>
                        <div class="row">
                            <div class="col-6 col-sm-4">Creation Time: {{ ticket['creation_time'] }} </div>
                            <div class="col-6 col-sm-4">Updated Time: {{ ticket['update_time'] }} </div>
                        </div>
                    </div>

                    <div class="ticket-panel-content">
                        Category:
                        {% if ticket['category_id'] and ticket['category_id'] < existing_categories_length %}
                        {{ existing_categories[ticket['category_id']]['name'] }}
                        {% else %} None {% endif %}
                        <br>
                        <h3> Description: </h3>
                        <p>{{ ticket['description'] }}</p>
                    </div>
                </div>
              </div>
        {% endfor %}
    {% else %}
        <p> There are no tickets in the system </p>
    {% endif %}
</div>
{% endblock %}
