{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='core-style.css') }}">
<div class="ticket-content-body">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible alert-bar" role="alert">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>  {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <div class="panel panel-default ticket-panel">
        <div class="panel-heading">
            <h3 id="ticket-detail-title">{{ ticket['title'] }}</h3>
            <sub>{% block title %} Ticket ID: #{{ticket['id']}}{% endblock %}</sub>
        </div>

        <div class="panel-body">
          {{ ticket['description'] }}
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <form action="{{ url_for('ticket_views.edit', ticket_id=ticket['id']) }}" method="POST">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-sm-5">
                                <label for="status">Status: </label>
                                <select name="status" id="status">
                                    <optgroup label="Current Status">
                                        <option value="{{ticket['status']}}">{{ ticket['status'] }}</option>
                                    </optgroup>
                                    <optgroup label="Available status Values">
                                        <option value="new">new</option>
                                        <option value="assigned">assigned</option>
                                        <option value="under investigation">under investigation</option>
                                        <option value="solution proposed">solution proposed</option>
                                        <option value="solution ineffective">solution ineffective</option>
                                        <option value="closed">closed</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-6 col-sm-4">
                                <label for="priority">Priority: </label>
                                <select name="priority" id="priority">
                                    <optgroup label="Current Priority">
                                        <option value="{{ticket['priority']}}">{{ ticket['priority'] }}</option>
                                    </optgroup>
                                    <optgroup label="Available Priority Values">
                                        <option value="none">none</option>
                                        <option value="low">low</option>
                                        <option value="medium">medium</option>
                                        <option value="high">high</option>
                                        <option value="critical">critical</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="w-100 d-none d-md-block"></div>

                        <div class="row">
                            <div class="col-6 col-sm-5">
                                <label for="assignee">Assignee: </label>
                                {% if ticket['user_assignee_name'] %}
                                    <input list="assignees" name="assignee" id="assignee" value="{{ ticket['user_assignee_name'] }}" placeholder="pick an existing user to be the new assignee" maxlength="128">
                                {% else %}
                                    <input list="assignees" name="assignee" id="assignee" placeholder="pick assignee from existing users" maxlength="128">
                                {% endif %}
                                    <datalist id="assignees">
                                        {% for user in available_assignees %}
                                                <option value="{{ user['username'] }}">
                                        {% endfor %}
                                    </datalist>
                            </div>
                            <div class="col-6 col-sm-4"><label> Reporter: </label> {{ ticket['user_reporter_name'] }} </div>
                        </div>

                        <div class="w-100 d-none d-md-block"></div>

                        <div class="row">
                            <div class="col-6 col-sm-5"><label> Creation Time: </label> {{ ticket['creation_time'] }} </div>
                            <div class="col-6 col-sm-5"><label> Updated Time: </label> {{ ticket['update_time'] }} </div>
                        </div>
                    </div>
                    <div class="ticket-panel-content">
                        <label for="category" >Category: </label>
                        {% if ticket['category_name'] %}
                            <input list="categories" name="category" id="category" value="{{ ticket['category_name'] }}" placeholder="enter a new category name here or pick an existing category or enter 'None' to remove category" maxlength="128" style="width: -webkit-fill-available;">
                        {% else %}
                            <input list="categories" name="category" id="category" placeholder="enter a new category name here or pick an existing category or enter 'None' to remove category" maxlength="128" style="width: -webkit-fill-available;">
                        {% endif %}
                            <datalist id="categories">
                                <option value="None">
                                {% for category in registered_categories %}
                                        <option value="{{ category['name'] }}">
                                {% endfor %}
                            </datalist>
                    </div>
                    <input class="btn btn-success" type="submit" value="Save" style="width: -webkit-fill-available;margin-top: 10px;">
                </form>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary" href="{{ url_for('ticket_views.edit', ticket_id=ticket['id']) }}" role="button" style="margin-bottom: 10px; width: -webkit-fill-available;">Reset</a>
                <br>
                <form action="{{ url_for('ticket_views.delete_ticket', ticket_id=ticket['id']) }}" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete Ticket" onclick="return confirm('Are you sure?');" style="width: -webkit-fill-available;">
                </form>
            </li>
        </ul>
    </div>

    <h3>Similar Tickets</h3>
    {% if ticket_sims %}
        <div class="list-group ticket-detail-section">
        {% for sim in ticket_sims %}
            <a href="{{ url_for('ticket_views.edit', ticket_id=sim['comp_ticket']) }}" class="list-group-item">
                <h4 class="list-group-item-heading">Ticket ID: #{{ sim['comp_ticket'] }}</h4>
                <p>Title Similarity: <span class="badge">{{ (sim['title_sim'] * 100)| round(2)  }}%</span> {% if ticket['short_description_flag'] == 0 %} | Description Similarity: <span class="badge">{{ (sim['desc_sim'] * 100)| round(2) }}%</span>{% endif %}<br>
                    <b>Status:</b> <span class="label label-default ticket-status-{{ similar_ticket_attributes[sim['comp_ticket']][0] | replace(' ','-') }}">{{ similar_ticket_attributes[sim['comp_ticket']][0] }}</span> |
                    <b>Priority:</b> <span class="label label-default ticket-priority-{{ similar_ticket_attributes[sim['comp_ticket']][1] }} ">{{ similar_ticket_attributes[sim['comp_ticket']][1] }} </span> |
                    <b>Assignee:</b> {{ similar_ticket_attributes[sim['comp_ticket']][2] }} |
                    <b>Category:</b> {{ similar_ticket_attributes[sim['comp_ticket']][3] }} | <b>Potential Solutions:</b> {{ similar_ticket_attributes[sim['comp_ticket']][4] }}
                </p>
            </a>
        {% endfor %}
        </div>
    {% else %}
    <div class="well ticket-detail-section">NO SIMILAR TICKETS FOUND</div>
    {% endif %}
    <form action="{{ url_for('ticket_views.reassess_similarity', ticket_id=ticket['id']) }}" method="post">
        <p style="max-width: 800px; text-align:center;">
            <input class="btn btn-info" style="width: -webkit-fill-available;" type="submit" value="Reassess Similarity" onclick="return confirm('Are you sure?');">
            <input type="checkbox" id="apply_actions" name="apply_actions" value="True">
            <label for="apply_actions">Automatically Apply Actions</label>
        </p>
    </form>

    {% if g.user['username'] == ticket['user_reporter_name'] %}
    <hr class="bar-separator">
    <h3>Solution Feedback</h3>
        <form method="post" action="{{ url_for('ticket_views.solution_feedback', ticket_id=ticket['id']) }}">
            <div class="container" style="max-width: 800px;margin-left: 0px;">
                <div class="row">
                    <div class="col-6 col-sm-5">
                        <select name="solution_feedback" id="solution_feedback" style="width: -webkit-fill-available; height: 30px">
                            <option value="select feedback"  selected disabled>select feedback</option>
                            <option value="resolved by proposed solution">Resolved By Proposed Solution</option>
                            <option value="proposed solution was not effective">Proposed Solution Was Not Effective</option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-5">
                        <input class="btn btn-secondary" style="width: -webkit-fill-available;" type="submit" value="Submit Feedback">
                    </div>
                </div>
          </div>
      </form>
    <br>
    {%endif%}


    <hr class="bar-separator">
    <div class="ticket-detail-section">
        <h3>Comment</h3>
        <form method="post" action="{{ url_for('ticket_views.make_comment_on_ticket', ticket_id=ticket['id']) }}" style="text-align: center;">
            <textarea name="comment_action" id="comment_action" placeholder="add a comment here | use the checkbox if the comment is a solution" cols="100" rows="1" maxlength="512" required></textarea>
            <br>
            <input type="checkbox" id="solution_checkbox" name="solution_checkbox" value="True">
            <label for="solution_checkbox">Mark As Solution</label><br>
            <input class="btn btn-secondary" style="width: -webkit-fill-available; height: 30px" type="submit" value="Add Comment">
        </form>
    </div>

    <h2>Actions</h2>
    {% if ticket_actions %}
        {% for action in ticket_actions %}
            <ul class="list-group action-group">
                <li class="list-group-item" style="text-align: center;">
                    <span style="float: left; font-weight: bold">
                        {% if action['username']  %}
                            {{action['username']}}
                        {%elif action['associated_user_id'] == 0 %}
                            Automated Support
                        {%else%}
                            Deleted User
                        {% endif %}
                    </span>
                    {{ action['action_type'] }}
                    <span class="badge">{{ action['creation_time'] }}</span>
                </li>
                {% if action['action_content'] %}
                <li class="list-group-item" style="word-wrap: break-word;">
                    {{ action['action_content'] }}
                </li>
                {% endif%}
                <li class="list-group-item">
                    <form action="{{ url_for('ticket_views.delete_action', ticket_id=ticket['id'], action_id=action['action_id']) }}" method="post">
                        <input  class="btn btn-danger" style="width: -webkit-fill-available;" type="submit" value="Delete Action" onclick="return confirm('Are you sure that you want to remove this action from this ticket's history?');">
                    </form>
                </li>
            </ul>
        {% endfor%}
    {% else %}
        <p> NO ACTIONS HAVE BEEN PERFORMED ON THIS TICKET </p>
    {% endif %}

    <hr class="bar-separator">
</div>
{% endblock %}
