<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='core-style.css') }}">
<div class="ticket-content-body">
    <h1>{% block title %}Ticket Index{% endblock %}</h1>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible alert-bar" role="alert">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>  {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <div class="well well-lg ticket-panel">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4">
                    <h1>Filter & Sort</h1>
                    <p>Use the options to the right to filter and sort tickets in the system</p>
                </div>
                <div class="col-6 col-sm-5">
                    <form action="{{ url_for('ticket_views.query') }}" method="POST">
                        <h4>Filter</h4>
                        <label for="query_field">Field: </label>
                            <select name="query_field" id="query_field">
                                {% if query_field %}
                                    <optgroup label="Current Field">
                                        <option value="{{ query_field }}"> {{ query_field }} </option>
                                    </optgroup>
                                {% endif %}
                                <optgroup label="Available Fields">
                                    <option value="title">title</option>
                                    <option value="status">status</option>
                                    <option value="category">category</option>
                                    <option value="priority">priority</option>
                                    <option value="reporter">reporter</option>
                                    <option value="assignee">assignee</option>
                                </optgroup>
                            </select>
                        <label for="query_value"> Value: </label>
                        <input name="query_value" id="query_value" value="{%if query_holding_value %}{{ query_holding_value }}{% elif query_value %}{{ query_value }}{% endif %}" placeholder="Value to find in field" maxlength="256">
                        <hr class="bar-separator" style="max-width: 400px">
                        <h4>Sort</h4>
                            <label for="query_order_field">Order By </label>
                                <select name="query_order_field" id="query_order_field">
                                    {% if query_order_field %}
                                        <optgroup label="Current Order By Field">
                                            <option value="{{ query_order_field }}">{{ query_order_field | replace('_',' ')  }}</option>
                                        </optgroup>
                                    {% endif %}
                                    <optgroup label="Available Order By Fields">
                                        <option value="creation_time">creation time</option>
                                        <option value="update_time">update time</option>
                                        <option value="title">title</option>
                                        <option value="status">status</option>
                                    </optgroup>
                                </select>
                            <label for="query_order_value"> In </label>
                            <select name="query_order_value" id="query_order_value">
                                <option value="ASC">Ascending</option>
                                <option value="DESC" {% if query_order_value!="ASC" %}selected{% endif %}>Descending</option>
                            </select>

                            <label for="query_order_value"> Order </label> <br>
                        <hr class="bar-separator" style="max-width: 400px">
                        <input class="btn btn-primary" type="submit" value="Run Query">
                         <a class="btn btn-default" href="{{ url_for('ticket_views.ticket_index') }}" role="button">Reset</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% if tickets  %}
        {% for ticket in tickets %}
            <div class="panel panel-default ticket-panel">
                <div class="panel-heading">
                    <h2><a href="{{ url_for('ticket_views.edit', ticket_id=ticket['id']) }}">#{{ ticket['id'] }} </a>{{ ticket['title']}}</h2>
                </div>

                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-sm-4">Status: <span class="label label-default ticket-status-{{ ticket['status'] | replace(' ','-') }}">{{ ticket['status'] }}</span></div>
                            <div class="col-6 col-sm-4">Priority: <span class="label label-default ticket-priority-{{ ticket['priority'] }}">{{ ticket['priority'] }}</span></div>
                        </div>

                        <div class="w-100 d-none d-md-block"></div>
                        <div class="row">
                            <div class="col-6 col-sm-4">Reporter: {{ ticket['user_reporter_name'] }} </div>
                            <div class="col-6 col-sm-4">Assignee: {{ ticket['user_assignee_name'] }} </div>
                        </div>

                        <div class="w-100 d-none d-md-block"></div>
                        <div class="row">
                            <div class="col-6 col-sm-4">Creation Time: {{ ticket['creation_time'] }} </div>
                            <div class="col-6 col-sm-4">Updated Time: {{ ticket['update_time'] }} </div>
                        </div>
                    </div>

                    <div class="ticket-panel-content">
                        Category:
                        {% if ticket['category_id'] and ticket['category_id'] < existing_categories_length %}
                        {{ existing_categories[ticket['category_id']]['name'] }}
                        {% else %} None {% endif %}
                        <br>
                        <h3> Description: </h3>
                        <p>{{ ticket['description'] }}</p>
                    </div>
                </div>
              </div>
        {% endfor %}
    {% else %}
        <p> No Tickets Were Found </p>
    {% endif %}
</div>
{% endblock %}
